/* .inter-<uniquifier > {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  font-family: "Inter", sans-serif;
  color: white;
}
.nav-item:hover {
  font-weight: bold;
  /* font-size: 120px; */
  color: white;
}
.nav-item {
  margin-right: 20px;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-dark.dropdown-toggle {
  border: 1px solid white;
  background-color: black;
  color: white;
  width: 100px;
  padding: 6px 10px;
  height: 35px;
}
.dropdown-menu {
  width: 50px;
}
